POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_SSLMODE=
POSTGRES_CHANNEL_BINDING=
REDIS_URL=
DODO_PAYMENTS_API_KEY=
NEXT_PUBLIC_DODO_STARTER_PLAN_ID=
NEXT_PUBLIC_DODO_CREATOR_PLAN_ID=
CLERK_WEBHOOK_SECRET_CREATE_USER_ROLE=
CLERK_WEBHOOK_SECRET_CREATE_USER_BALANCE=
DODO_WEBHOOK_SECRET=
DODO_PAYMENTS_API_BASE_URL=