# Gemini
GEMINI_API_KEY=

# OpenAI
OPENAI_API_KEY=

# Redis Configuration
REDIS_HOST=
# REDIS_HOST=localhost
REDIS_PORT=

# Postgres configuration
POSTGRES_HOST=
# POSTGRES_HOST=localhost
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=